.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    background: linear-gradient(-90deg, #ffffff 1px, transparent 1px),
    linear-gradient(#ffffff 1px, transparent 1px),
    linear-gradient(-90deg, #ffffff 2px, transparent 1px),
    linear-gradient(#ffffff 2px, transparent 1px),
    linear-gradient(transparent 3px, #eeeef2 3px, #eeeef2 78px, transparent 78px),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #eeeef2 3px, #eeeef2 78px, transparent 78px),
    linear-gradient(#aaa 1px, transparent 1px),
    #eeeef2;
    background-size: 10px 10px,
    10px 10px,
    50px 50px,
    50px 50px,
    50px 50px,
    50px 50px,
    50px 50px;
}

.page-footer {
    background: url(../images/dancing-potatoes.png) repeat-x 50% 0;
    padding-top: 100px;
}

.page-footer p {
    padding-top: 20px;
}

.page-footer .btn-link {
    color: #777;
}

.page-footer .btn-link:hover {
    color: #999;
}
