<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-push-1 background"></div>
        <div class="col-md-3 col-md-offset-7">
            <div class="logo text-right">
                <a href="http://www.hutchhouse.com" title="Hutchhouse">
                    <img src="images/logo.png" alt="Hutchhouse Ltd - A full service web and mobile agency." class="site-logo"/>
                    <h4>Digital User Experience Team</h4>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h2 class="intro-title">Get in touch</h2>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <p class="intro-blurb">We always like to hear from people. If you have a message for us, would like to discuss a new project or if you think you'd like to come and join the team &#8211; get in touch</p>
        </div>
        <div class="col-md-3 col-md-push-7">
            <div ng-include="'templates/subscription.html'"></div>
        </div>
        <div class="col-md-4 col-md-pull-1">
            <div ng-include="'templates/correspondence.html'"></div>
        </div>
        <div class="col-md-3 col-md-offset-7">
            <p class="text-right small indicates-notice">* indicates a required field</p>
        </div>
    </div>
</div>
