<form action="" role="form" class="form-correspondence">
    <div class="form-group">
        <label for="correspondence-name" class="sr-only">Full Name</label>
        <input id="correspondence-name" type="text" class="form-control" placeholder="Full Name*"/>
        <p class="help-text">{{error.name}}</p>
    </div>
    <div class="form-group">
        <label for="correspondence-email" class="sr-only">Email Address</label>
        <input id="correspondence-email" type="text" class="form-control" placeholder="Email address*"/>
        <p class="help-text">{{error.email}}</p>
    </div>
    <div class="form-group">
        <label for="correspondence-company" class="sr-only">Company</label>
        <input id="correspondence-company" type="text" class="form-control" placeholder="Company"/>
        <p class="help-text">{{error.company}}</p>
    </div>
    <div class="form-group">
        <label for="correspondence-message" class="sr-only">Message</label>
        <textarea id="correspondence-message" class="form-control" placeholder="You message*"></textarea>
        <p class="help-text">{{error.message}}</p>
    </div>
    <div class="input-group">
          <span class="input-group-addon">
              <label for="correspondence-subscribe" class="sr-only">Mailing-List Participation</label>
              <input id="correspondence-subscribe" type="checkbox"/>
              Add me to the mailing list
          </span>
        <button type="submit" class="btn btn-lg pull-right">Send</button>
    </div>
</form>
