<div class="subscription hidden-xs hidden-sm">
    <h3>Join out mailing list</h3>
    <p>If you don't want to message us but would like to join our mailing list please complete this form.</p>

    <form action="" role="form" class="form-subscription">
        <div class="form-group">
            <label for="subscription-name" class="sr-only">Full Name</label>
            <input id="subscription-name" type="text" class="form-control" placeholder="Full Name*"/>
            <p class="help-text">{{error.name}}</p>
        </div>
        <div class="form-group">
            <label for="subscription-email" class="sr-only">Email Address</label>
            <input id="subscription-email" type="text" class="form-control" placeholder="Email*"/>
            <p class="help-text">{{error.email}}</p>
        </div>
        <button type="submit" class="btn btn-lg btn-default btn-block">Just sign me up</button>
    </form>
</div>
